* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  --tw-bg-opacity: 10;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}

.container{
  position: absolute;
  transform: translateX(-50% , -50%);
}

.game_board_container{
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity)); 
  padding: 250px 500px;
  border-radius: 30px;
  
}



/* 
.arrow_buttons {
  display: flex;
  color: white;
  justify-content: space-between;
  font-size: 30px;
  display: block;
} */
