* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  --tw-bg-opacity: 10;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}

.container {
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.tetris-board {
  padding: 250px 600px;
  margin-top: 20px;
  width: 50%;
  border-radius: 30px;
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
  border: 2px solid white;
}

.arrow_buttons {
  display: flex;
  color: white;
  justify-content: space-between;
  font-size: 30px;
}
.high_score_container{
    color: white;
}